<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey Questions</title>
</head>
<body>
  <h1>Question Number {% block progress %}{% endblock %}</h1>
  <form action="questions/1">
    <h3>{% block question_text %}{% endblock %}</h3>
    {% if satisfation_survey[progress][2] %}
    <input type="radio" name="{{progress}}">
    {% else %}
    <input type="checkbox" name="{{progress}}">
    <button>Submit</button>
  </form>
</body>
</html>